<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>货架管理</title>
</head>
<body>

<div class="wrap">
    <div class="shelf">
        <ul class="frame"></ul>
    </div>
    <div class="goods">
        <table class="table table-bordered table-hover">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="layer"></div>

</body>
</html>
